body {
  height: 100%;
}

#nav-links span:hover{
  background-color:rgb(61, 61, 61)
}

#nav-links span{
  display: flex;
  justify-content: center;
  align-items: center
}

table thead tr *{
  font-weight: bold;
  font-size: large;
}

.delete-button {
  background-color: transparent;
  color: Red;
  border-style:none;
  outline:none;
}

.completed-button {
  background-color: transparent;
  color: green;
  border-style:none;
  outline:none;
}

.inprogress-button {
  background-color: transparent;
  color: white;
  border-style:none;
  outline:none;
}

#task-button {
  background-color: transparent;
  color: white;
  border-style:none;
}

#dashboard{
  position: absolute;
  background-color: rgb(10, 8, 19);
  width: 100%;
  height: 100%;
}

#task-panel {
  margin-top: 5%;
  margin-bottom: 1%;
  margin-left: 5%;
  display:inline-block;
  width: 50%
}

#task-panel > * {
  display:inline-block;
}

#task-panel > *:not(:first-child){
  margin-left: 1%
}

#synched {
  color: green
}

#display-panel {
  position: absolute;
  right: 5%;
  width: 275px;
}

#display-panel > * {
  margin-left: 1%;
  display: inline-block;

}

#display-count{
  color: white;

}

#task-table{
  width: 90%;
  margin-left:5%;
  margin-right:5%;
  margin-bottom:5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-style: none
}

#select-column {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.d {
  border-style: none
}